html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-gray {
  background-color: gray !important;
}

.of-hidden {
  overflow: hidden;
}

.space-1 {
  padding: 0.5rem;
  display: inline-block;
}

.p-0 {
  padding: 0;
}

.active {
  border-color: greenyellow !important;
}

.font-05 {
  font-size: 0.5rem;
}

.font-08 {
  font-size: 0.8rem;
}
